/*===========
レイアウト全般
===========*/
.infolist a{
	color: #1d3994;
}
.infolist a:hover{
	color: #1d3994;
    opacity: 0.8;
}
/*===========
.scroll-box
===========*/
 
.scroll-box {
    overflow-x: auto;
    padding-bottom: 10px;
    -webkit-overflow-scrolling: touch;
}
 
/*===========
scrollbar
===========*/
 
 
/*スクロールバー全体の高さ*/
 
.scroll-box::-webkit-scrollbar {
    height: 4px;
}
 
/*スクロールバー全体の背景*/
 
.scroll-box::-webkit-scrollbar-track {
    background: #eee;
}
 
/*スクロールバーの動く部分*/
 
.scroll-box::-webkit-scrollbar-thumb {
    background: #aaa;
    border: none;
}
 
/*スクロールバーの動く部分のホバー（マウスオーバー）*/
 
.scroll-box::-webkit-scrollbar-thumb:hover {
    background: #999;
}
 
/*===========
table
===========*/
 
.scroll-box table {
    min-width: 600px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
th, td {
    vertical-align: middle;
    padding: 10px 18px;
    border: 1px solid #ccc;
    font-size: 14px;
    text-align: center;
}
th {
    color: rgb(53, 52, 52);
    background: #ffffff;
}
._sticky {
    position: sticky;
    left: 0;
    width: 23%;
}
._sticky:before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    width: 100%;
    height: 100%;
    border-right: 1px solid #ccc;
}

/*
ハンバーガーメニュー
*/
.menu-btn {
    position: fixed;
    top: 8px;
    left: 10px;
    display: flex;
    height: 46px;
    width: 46px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    /*ボタンの背景色*/
    /*background-color: #3584bb;*/
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    /*ボタンの線の色*/
    background-color: #353A76;;
    position: absolute;
    transition: all 300ms 0s ease;
}
.menu-btn span:before {
    bottom: 8px;
}
.menu-btn span:after {
    top: 8px;
}

#menu-btn-check {
    display: none;
}
#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
    transition: all 300ms 0s ease;
}
#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
    background-color: #ccc;
    transition: all 500ms 0s ease;
}
#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
    background-color: #ccc;
    transition: all 500ms 0s ease;
}

.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    top: -100%;
    z-index: 80;
    background-color: white;
    color: #222;
    transition: all 200ms 0s ease;
}

#menu-btn-check:checked ~ .menu-content {
    top: 0;/*メニューを画面内へ*/
}

.menu-content ul {
    padding: 70px 10px 0;
}
.menu-content ul li {
    border-bottom: solid 1px #ccc;
    list-style: none;
}
.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
}
.menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ccc;
    border-right: solid 2px #ccc;
    transform: rotate(45deg);
    position: absolute;
    right: 28px;
    top: 16px;
}