/*===========
.scroll-box
===========*/
 
.scroll-box {
    overflow-x: auto;
    padding-bottom: 10px;
    -webkit-overflow-scrolling: touch;
}
 
/*===========
scrollbar
===========*/
 
 
/*スクロールバー全体の高さ*/
 
.scroll-box::-webkit-scrollbar {
    height: 4px;
}
 
/*スクロールバー全体の背景*/
 
.scroll-box::-webkit-scrollbar-track {
    background: #eee;
}
 
/*スクロールバーの動く部分*/
 
.scroll-box::-webkit-scrollbar-thumb {
    background: #aaa;
    border: none;
}
 
/*スクロールバーの動く部分のホバー（マウスオーバー）*/
 
.scroll-box::-webkit-scrollbar-thumb:hover {
    background: #999;
}
 
/*===========
table
===========*/
 
.scroll-box table {
    min-width: 600px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
th, td {
    vertical-align: middle;
    padding: 10px 18px;
    border: 1px solid #ccc;
    font-size: 14px;
    text-align: center;
}
th {
    color: rgb(53, 52, 52);
    background: #ffffff;
}
._sticky {
    position: sticky;
    left: 0;
    width: 23%;
}
._sticky:before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    width: 100%;
    height: 100%;
    border-right: 1px solid #ccc;
}