.swiper{
  width: 100%;
  position: relative;
  overflow: hidden;
}
 
.swiper-wrapper{
  transition-timing-function: linear;
  -webkit-overflow-scrolling: touch
}
 
.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 0px 0px 0px;
  background-color: #eeeeee;
}
 
.swiper-slide img{
  display: block;
  width: 75px;
  height: 75px;
}
/*↓↓↓プログレスバー用のスタイル↓↓↓*/
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
  transition-timing-function: linear;
  background-color: #333;
}
 
.swiper-pagination-progressbar{
  position: relative;
}

/* swiper-card*/
   .l-inner {
  position: relative;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10rem;
}

.l-section {
  border-top: 1px solid #eee;
}
.l-section .l-inner {
  padding-top: 2rem;
  /* padding-bottom: 2rem; */
}

[class*=swiper]:focus {
  outline: none;
}

.slide-media,
.thumb-media {
  position: relative;
  overflow: hidden;
}
.slide-media img,
.thumb-media img {
  display: block;
  margin: auto;
  height: auto;
  /* position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; */
}


.swiper-button-prev, .swiper-button-next {
  display: grid;
  place-content: center;
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.swiper-button-prev::before, .swiper-button-next::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  border-radius: 50%;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}
.swiper-button-prev::after, .swiper-button-next::after {
  width: 1.2rem;
  height: 1.2rem;
  content: "";
  border: solid var(--color-gray);
  border-width: 3px 3px 0 0;
}
.swiper-button-prev::after {
  margin-left: 0.4rem;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}
.swiper-button-next::after {
  margin-right: 0.4rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.swiper-button-disabled {
  pointer-events: none;
  opacity: 0;
}

.swiper-card {
  overflow: hidden;
}
.swiper-card .swiper {
  overflow: visible;
}
.swiper-card .swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
          transition-timing-function: linear !important;
}
.swiper-card .swiper-slide {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.swiper-card .slide {
  overflow: hidden;
  width: 24rem;
  border-radius: 4px;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}
/* .swiper-card .slide-media {
  padding-top: 100%;
} */
/* .swiper-card .slide-media img {
  height: calc(100% + 16px);
  -webkit-transform: translateY(-16px);
          transform: translateY(-16px);
} */
.swiper-card .slide-content {
  padding: 1.2rem 1.8rem;
}
.swiper-card .slide-date {
  font-size: 1.2rem;
  line-height: 1;
  display: block;
  text-align: center;
  color: var(--color-theme);
}
.swiper-card .slide-title {
  line-height: 1.6;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 3.2em;
  margin-top: 1.6rem;
}

@media only screen and (max-width: 1024px) {
  /* html {
    -webkit-text-size-adjust: 100%;
  } */
  .l-inner {
    padding: 0 4rem;
  }
  .pc {
    display: none !important;
  }
}

@media only screen and (max-width: 599px) {
  /* html {
    font-size: 50%;
  } */
  .pc-tab {
    display: none !important;
  }
  .swiper-card .slide {
    width: 12rem;
    height: 12rem;
  }
  .swiper-card .slide-title {
    margin-top: 0.8rem;
  }
}

@media only screen and (min-width: 1025px) {
  .tab-sp {
    display: none !important;
  }
  /* .swiper-button-prev::before, .swiper-button-next::before {
    -webkit-transition: var(--transition);
    transition: var(--transition);
  }
  .swiper-button-prev:hover::before, .swiper-button-next:hover::before {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  } */
  .swiper-card .slide {
    -webkit-transition: var(--transition);
    transition: var(--transition);
  }
  .swiper-card .slide img {
    -webkit-transition: var(--transition);
    transition: var(--transition);
  }
  /* .swiper-card .slide:hover {
    -webkit-transform: translateY(-16px);
            transform: translateY(-16px);
    -webkit-box-shadow: var(--box-shadow-hover);
            box-shadow: var(--box-shadow-hover);
  }
  .swiper-card .slide:hover img {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  } */
  .swiper-card .swiper:hover .slide:not(:hover) {
    opacity: 0.3;
  }
}

@media only screen and (min-width: 600px) {
  .sp {
    display: none !important;
  }
}
